.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-self: center;
    justify-self: center;
    position: absolute;
    top: 20%;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 450px;
    height: 450px;
    background: #dbdbdb;
    border-radius: 10px;
    border: 1px solid var(--seryy);
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.input {
    display: flex;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--seryy);
    padding: 5px;
}

.formtitle {
    margin-bottom: 40px;
    font-size: 25px;
}

.link {
    color: var(--seryy-temnee);
}

.btn__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    color: var(--belyy);
    font-size: 15px;
    font-weight: 400;
    background: var(--siniy);
    border-radius: 15px;
    padding: 5px;
}

.error {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}