.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cardList {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.addCardBtn {
    border: 1px solid var(--seryy-temnee);
    border-radius: 8px;
    padding: 12px;
    width: 154px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    color: var(--chernyy);
    height: 53px;
}

.addCardBtn:hover {
    transform: scale(1.02);
}