.stock__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 5px;
    flex-shrink: 1;
    max-width: 217px;
    height: 531px;
    margin: 5px;
    padding: 0;
    position: relative;
}

.wrapper__inner-item {
    border-radius: 8px;
    width: 169px;
    height: 216px;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.discount {
    display: flex;
    background-color: var(--zheltyy);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    width: 65px;
    height: 45px;
    position: absolute;
    right: 0;
    z-index: 100;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--chernyy);
}

.price__wrapper {
    display: flex;
    gap: 8px;
}

.isAviavable__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.set__like-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    color: red;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.set__like-btn.active {
    background: red;
    cursor: pointer;
    height: 19px;
}

.set__like {
    width: 20px;
    height: 20px;
}

.aviavable {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    color: var(--zelenyy);
}

.not__aviavable {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    color: var(--krasnyy);
}

.stock__price {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    text-decoration: line-through;
    color: var(--seryy-2-ne-takoy-temnyy);
}

.stock__desc {
    display: flex;
    width: 164px;
    cursor: pointer;
    height: 96px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    overflow: hidden;
    color: var(--chernyy);
}

.discount__price {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--chernyy);
}

.swiper-pagination-catalog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-bullet {
    display: flex;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    background-color: var(--seryy);
}

.catalog-bullet-active {
    right: 1px;
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--siniy);
    color: var(--siniy);
}

.wrapper__inner {
    cursor: pointer;
}

.wrapper__open {
    cursor: pointer;
}