.card {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    border-radius: 12px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--seryy-temnee);
    border-radius: 8px;
    width: 123px;
    height: 63px;
    margin-bottom: 15px;
}

.card:hover {
    transform: scale(1.03);
    transition: all .4s ease-in-out;
}

.card__chip {
    position: absolute;
    z-index: 500;
    width: 20px;
    top: 13px;
    left: 10px;
    height: 10px;
    background: gold;
    border-radius: 5px;
}

.card__number {
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card__expiry {
    font-size: 12px;
    opacity: 0.8;
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}